<section>
  <h2>Logga in</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <label for="email">E-post</label>
    <input id="email" type="email"
      formControlName="email" 
      placeholder="erik_nilsson@gmail.com"> 

    <label for="pass">Lösenord</label>
    <input id="pass" type="password"
      formControlName="pass" 
      placeholder="FakePassword0+">

    <input type="submit" value="Logga in">
  </form>
  <p>Har inget konto? <a routerLink="/register">Skapa konto</a></p>
</section>

