<h1>Hem</h1>
<div class="hero">
  <img 
    src="./asset/images/photo-800.png"
    srcset="./asset/surrealism_300w.png 300w,
      ./asset/surrealism_400w.png 400w,
      ./asset/surrealism_600w.png 600w"
    sizes="(max-width: 400px) 300px, (max-width: 600px) 400px, 600px"
    alt="En färgglad, futuristisk och surrealistisk hjärna"
    fetchpriority="high">
  <p class="slogan">Våga tänka utanför boxen</p>
  <section>
    <h2>Sök bland våra kurser</h2>
    <p>Vi har för närvarande {{maxSize$ | async}} kurser att välja mellan. Logga in på Mina Sidor eller <a class="account-link" routerLink='/register'>skapa ett konto </a>för att kunna lägga till kurser i ditt ramschema.</p>
  </section>
</div>
