<section>
  <h2>Kurser</h2>
  <p>Listar {{size$ | async}} kurser av totalt {{maxSize$ | async}}</p>
  <ul>
    @for(course of chunk$ | async; track course.courseCode) {
      <li>
        <h3>{{course.courseName}}</h3>
        <p>Kurskod: {{course.courseCode}}</p>
        <p>Progression: {{course.progression}}</p>
        <p>Poäng: {{course.points}}</p>
        <p>Ämne: {{course.subject}}</p>
        <button (click)="changeDesc(course)">{{showBtnLab(course)}}</button>
        @if(course.showMore) {
          <p>Nivå: {{course.level}}</p>
          <p>Organisationskod: {{course.institutionCode}}</p>
          <a target="_blank" [href]="course.syllabus">Kursplan</a>
        }
        @if(!hideCourse(course.courseCode)) {
          <button (click)="addCourse(course)">Lägg till</button>
        } @else {
          <p>TILLAGT</p>
        } 
      </li>
    }
  </ul>
  @if(load) {
    <button id="load-more-btn" (click)="loadMore('load-more-btn')">Visa fler kurser</button>
  }
</section>
